@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import "tailwindcss";
.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}
@theme {
  --font-stylescript: "Style Script", cursive;
}
@layer utilities {
  .fade-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1s ease-out forwards;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.text-gradient {
  background: linear-gradient(270deg, oklch(21% 0.034 264.665), oklch(50% 0.034 264.665), oklch(70% 0.034 264.665));
  background-size: 300% 300%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flowGradient 2s ease infinite;
}

@keyframes flowGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes amberFlow {
  0% {
    color: #fcd34d;
  }
  33% {
    color: #f59e0b;
  }
  66% {
    color: #b45309;
  }
  100% {
    color: #fcd34d;
  }
}
.flowing-text {
  animation: amberFlow 3s linear infinite;
}
html {
  scrollbar-width: thin;
}
footer div[class~="grid-cols-3"] img {
  filter: invert(1);
}